@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4%;
  background-color: #f5f6fa;
}

#root {
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
  padding: 4%;
}

.book-list {
  list-style-type: none;
  margin: 0;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  grid-gap: 0.938rem;
  gap: 0.938rem;
}

.primary-button {
  cursor: pointer;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family:
    "Montserrat",
    sans-serif;
  margin: 4% 0;
}
